<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Welcome to BestPlate!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="text/javascript">
        var googleMapsApiKey = "{{ google_maps_api_key }}";
    </script>
    <script type="module" src="{% static 'js/maps.js' %}"></script>
</head>
<body>
    <div class="header">
        <img src="https://via.placeholder.com/26x56" />
        <div class="title">BestPlate</div>
    </div>

    <form style="display:none;">
        {% csrf_token %}
    </form>

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <div class="prompt-column">
        <p>Please search for a restaurant and click "Search menus" to see menu pictures.</p>
    </div>
</body>
</html>
